{% extends "base.html" %}

{% block title %}Curso Python 300{% endblock %}

{% block content %}
  <!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Curso Python 300
                      <small> - Título da aula</small>
                  </h1>
      </div>
  </div>
  <!-- /.row -->

  <!-- Pagination -->
  <div class="row text-center">
      <div class="col-lg-12">
          <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default btn-lg">Anterior</button>
              <button type="button" class="btn btn-default btn-lg">Próximo</button>
          </div>
      </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- progress bar -->
  <div class="row text-center">
      <div class="col-lg-12">
          <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                  50%
              </div>
          </div>
      </div>
  </div>
  <!-- /,row -->

  <!-- Projects Row -->
  <div class="row">
      <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/I5-LNy_R-0I" frameborder="0" allowfullscreen></iframe>
      </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Pagination -->
  <div class="row text-center">
      <div class="col-lg-12">
          <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default btn-lg">Anterior</button>
              <button type="button" class="btn btn-default btn-lg">Próximo</button>
          </div>
      </div>
  </div>
  <!-- /.row -->

{% endblock %}
