{% extends "base.html" %}

{% block title %}Sobre o curso{% endblock %}

{% block content %}
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Curso Python 300
                    <small> - Sobre o curso</small>
                </h1>
    </div>
  </div>
  <!-- /.row -->

  <div class="row text-center">
    <div class="well well-lg">
      <h2>Esse é o curso Python 300 :)</h2>
      <h3>Objetivo: disponibilizar pelo menos 300 video-aulas gratuitas de Python.</h3>
      <h3><a href="https://www.youtube.com/playlist?list=PL8eBmR3QtPL0j3QLEjQ6rcx8rVB8Ir893" target="_blank">Clique aqui</a> para acessar a playlist no Youtube!</h3>
      <h3>Idealizador: Marcos Castro</h3>
      <center><a href="http://mcastrosouza.com" target="_blank"><img class="img-responsive" src="{{ url_for('static', filename='img/marcos.jpg') }}"></a></center>
      <h3>Contato: <a href="mailto:mcastrosouza@live.com">mcastrosouza@live.com</a></h3>
    </div>
  </div>
{% endblock %}
